.privacy-content {
  ol {
    padding-left: 0;
    list-style: none;
    counter-reset: section;
  }

  li {
    counter-increment: section;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 24px;
    font-weight: 500;
    color: #1976d2;
    font-size: 1.1rem;

    &::marker {
      content: counter(section) ". ";
      color: #1976d2;
      font-weight: 500;
      font-size: 1.1rem;
    }
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.5;
    color: #333;
  }
}